<section class="overlay" *ngIf="showOverlay">
    <div class="overlay-content">
      <button (click)="closeOverlay()">Schließen</button>
      <form [formGroup]="editContactForm" (ngSubmit)="editContact()">
        <label for="first_name">Vorname:</label>
        <input id="first_name" formControlName="first_name" type="text">
        <div *ngIf="editContactForm.get('first_name')?.invalid && editContactForm.get('first_name')?.touched">
          <small class="error-text">Vorname ist erforderlich.</small>
        </div>
    
        <label for="last_name">Nachname:</label>
        <input id="last_name" formControlName="last_name" type="text">
        <div *ngIf="editContactForm.get('last_name')?.invalid && editContactForm.get('last_name')?.touched">
          <small class="error-text">Nachname ist erforderlich.</small>
        </div>
    
        <label for="email">E-Mail:</label>
        <input id="email" formControlName="email" type="email">
        <div *ngIf="editContactForm.get('email')?.invalid && editContactForm.get('email')?.touched">
          <small class="error-text">Eine gültige E-Mail ist erforderlich.</small>
        </div>
    
        <label for="color">Farbe:</label>
        <input id="color" formControlName="color" type="color">
        <div *ngIf="editContactForm.get('color')?.invalid && editContactForm.get('color')?.touched">
          <small class="error-text">Farbe ist erforderlich.</small>
        </div>
    
        <button type="submit">Speichern</button>
      </form>
    </div>
  </section>
  