<!-- Header HTML -->
<div class="header">
  <div>
    <img class="logo" src="assets/img/logo_main.svg" alt="Firmenlogo">
  </div>
  <div *ngIf="isLoggedIn" class="user-profile-initials" [ngStyle]="{'background-color': userColor}" (click)="toggleOverlay()">
    {{ userInitials }}
  </div>
</div>

<!-- Overlay -->
<div class="overlay" *ngIf="isOverlayVisible && isLoggedIn">
  <div class="overlay-content">
    <span (click)="logout()">Logout</span>
    <span (click)="toggleOverlay()">Close</span>
    <span (click)="openEditProfile()">Edit profile</span>
  </div>
</div>

<!-- Profil Bearbeiten Dialog -->
<app-edit-profile-dialog *ngIf="isEditProfileVisible" [userId]="userId" (close)="closeEditProfile()"></app-edit-profile-dialog>
