<div class="main-container">
  <div class="contactlist" *ngIf="!selectedContact || screenWidth >= 900">
    <div class="list">
      <div *ngFor="let letter of displayedAlphabet">
        <h2>{{ letter }}</h2>
        <div class="divider"></div>
        <div *ngFor="let contact of sortedContacts[letter]">
          <div class="contact-field" [ngClass]="{'selected': selectedContact === contact}" (click)="selectContact(contact)">
            <div class="contact-circle" [style.background-color]="contactColors[contact.first_name]">
              {{ getInitials(contact.first_name, contact.last_name) }}
            </div>
            <div class="contact-info">
              <div class="contact-name">{{ contact.first_name }} {{ contact.last_name }}</div>
              <div class="contact-mail">{{ contact.email }}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="user-details" *ngIf="selectedContact">
    <div class="details-headline">
      <button class="back-button" (click)="deselectContact()" *ngIf="screenWidth < 700">← Zurück</button>
      <h1>Contacts <span>Better with a team</span></h1>
    </div>
    <div class="name-details">
      <div class="user-border-big"> {{ getInitials(selectedContact.first_name, selectedContact.last_name) }}</div>
      <span class="user-name">{{ selectedContact.first_name }} {{ selectedContact.last_name }}</span>
    </div>
    <div class="contact-information">
      <h3>Contact Information</h3>
      <p><b>Email</b></p>
      <a [href]="'mailto:' + selectedContact.email">{{ selectedContact.email }}</a>
      <p><b>Phone</b></p>
      <!-- <p>{{ selectedContact.phone }}</p> -->
    </div>
  </div>
</div>

<ng-template #noTasksTemplate>
  <p>Keine Tasks gefunden.</p>
</ng-template>
