.contactlist {
    position: relative;
    box-shadow: none;
    width: 80%;
    overflow-y: scroll;
    height:75vh;
    // height: 70vh;
   margin-left: 30px;
    @media screen and (max-width: 768px) {
      justify-content: center;
      width:100%
  }

}

  h2{
    color: grey;
  }
  
  .list {
    width: 100%;
    max-height: calc(100vh - 80px); // Adjust the height to fit within the viewport
  }
  
  .divider {
    background-color: #d1d1d1;
    height: 2px;
    width: 100%;
    margin: 10px 0;
  }
  
  .contact-circle {
    width: 40px;
    height: 40px;
    display: inline-block;
    border-radius: 50%;
    // background-color: #333;
    color: #fff;
    font-weight: bold;
    text-align: center;
    line-height: 40px;
    margin-right: 0;
    min-width: 40px;
  }
  
  .contact-field {
    height: 100px;
    // border: solid transparent;
    display: flex;
    align-items: center;
    border-radius: 10px;
    border-color: white;
    gap: 35px;
    cursor: pointer;
    width: 270px;
        min-width: 250px;
        gap: 20px;
  }
  
  .contact-info {
    display: flex;
    flex-direction: column;
    // border-bottom: 2px solid #d1d1d1;
    padding: 17px;
    gap: 8px;
    width: 300px;
  }
  
  .contact-name {
    font-weight: bold;
  }
  
  .contact-mail {
    color: blue;
    font-size: 14px;
  }
  