<div class="sign-up-area">
  <div class="login">
    <div class="login-header">
      <div class="loginArrowImg">
        <a [routerLink]="['/login']">
          <img class="arrowback" src="assets/img/arrow-left-line.svg" alt="arrowback">
        </a>
      </div>
      <div>
        <h1>Sign up</h1>
      </div>
    </div>
    <hr>
    
    <form (ngSubmit)="onSubmit()">
      <div class="input-frame">
        <input type="text" [(ngModel)]="firstname" name="first_name" class="form-control" placeholder="First name" autocomplete="off">
      </div>
      <div class="input-frame">
        <input type="text" [(ngModel)]="lastname" name="last_name" class="form-control" placeholder="Last name" autocomplete="off">
      </div>
      
      <div class="input-frame">
        <input type="email" [(ngModel)]="email" name="email" class="form-control" placeholder="E-Mail" autocomplete="off">
      </div>
      <div class="input-frame">
        <input type="text" [(ngModel)]="username" name="username" class="form-control" placeholder="Username" autocomplete="off">
      </div>
      <div class="input-frame">
        <input type="password" [(ngModel)]="password" name="password" class="form-control" placeholder="Password" autocomplete="off">
      </div>
      <div class="input-frame">
        <input type="password" [(ngModel)]="confirmPassword" name="confirm_password" class="form-control" placeholder="Confirm Password" autocomplete="off">
      </div>
      <div class="btn-frame">
        <app-button 
              [type]="'submit'"
              [classes]="'login'"
              [caption]="'register now'">
        </app-button>
      </div>
    </form>
  </div>
  
  <div class="legal-area">
    <a>Datenschutzrichtlinie</a>
    <a>Impressum</a>
  </div>
</div>
