body, html {
  height: 100%;
  margin: 0;
}

.sign-up-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f6f7f8;
}

.login-header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.loginArrowImg {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}

.loginArrowImg img {
  height: 32px;
  width: 32px;
}

.login {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 76%;
  border-radius: 30px;
  padding: 20px;
  gap: 20px;
  background: var(--white);
  height: 84vh;
  margin-top: 20px;
  box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.25);
}

.login h1 {
  font-size: 61px;
  line-height: 100px;
  margin: 0;
  background: linear-gradient(#29ABE2, #29ABE2) bottom no-repeat;
  background-size: 47% 3px;
}

.login hr {
  border: 1px solid #ddd;
  margin-bottom: 20px;
  width: 100%;
}

.input-frame {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 10px;
  border: 1px solid var(--border);
  width: 80%;
  height: 48px;
  margin-bottom: 25px;
}

.input-frame input {
  width: 95%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #D1D1D1;
  border-radius: 10px;
  outline: none;
  height: 24px;
  cursor: pointer;
}

.btn-frame {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.legal-area {
  margin-top: 20px;
  text-align: center;
}

.legal-area a {
  color: #29ABE2;
  text-decoration: none;
  margin: 0 10px;
  font-size: 14px;
}

.legal-area a:hover {
  text-decoration: underline;
}
