.summary {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

h1 {
  font-size: 20px;
  @media (min-width: 700px) {
    font-size: 35px;
  }
}

.status {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.icon {
  height: 40px;
  width: 40px;
}

.headline {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  text-align: center;
}

.border-line {
  width: 100px;
  height: 4px;
  background-color: #2A3647;
  margin-top: 10px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 32%;
  @media (min-width: 700px) {
    width: 100%;
  }
}

.overview {
  display: grid;
  grid-template-columns: repeat(1, 3fr);
  flex-direction: column;
  align-items: center;
  gap: 20px;
  @media (min-width: 700px) {
    width: 560px;
    gap: 30px;
    margin-right: 70px;
    align-items: center;
    justify-content: center;
  }
}

.first-row, .second-row, .third-row {
  display: flex;
  justify-content: center;
  gap: 10px;
  width: 100%;
  @media (min-width: 700px) {
    display: flex;
    justify-content: center;
  }
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  font-size: 14px;
  border-radius: 20px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  cursor: pointer;
  transition: all 225ms ease-in-out;
  padding: 20px;
  box-sizing: border-box;
  width: calc(100% / 3 - 20px);
  max-width: 300px;
  @media (min-width: 700px) {
    font-size: 20px;
    &:hover {
      background-color: #2A3647;
      color: white;
    }
  }
}

.box-size-first-row, .box-size-third-row, .box-size-second-row {
  flex-grow: 1;
  height: 100px;
  @media (min-width: 700px) {
    height: 130px;
  }
}

.box-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 116px;
  width: 116px;
  border-radius: 20px;
  background-color: white;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.ammount {
  font-size: 30px;
  font-weight: 600;
  @media (min-width: 700px) {
    font-size: 64px;
  }
}

.image-circle {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: #2A3647;
}

.urgent-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  width: 100%;
  max-width: 300px;
}

.box-container, .urgent-box {
  width: 116px;  /* Gleicht die Breite mit den anderen Boxen ab */
  height: 116px; /* Gleicht die Höhe mit den anderen Boxen ab */
}

.urgent-section {
  display: flex;
  align-items: center;
  gap: 10px;
}


.divider-line {
  width: 1px;
  height: 40px;
  background-color: #D1D1D1;
}

.deadline {
  display: flex;
  flex-direction: column;
  text-align: right;
  margin-left: auto;
}

.deadline-date {
  font-weight: bold;
  font-size: 16px;
}

.deadline-text {
  font-size: 14px;
  color: gray;
}

.ammount {
  display:flex;
  justify-content: center;
  font-size: 47px;
}

.name {
  font-size:14px;
  text-align: center;
}