<div class="summary">
  <div class="headline">
    <h1>Welcome to your Kanban-Board</h1>
    <div class="border-line"></div>
  </div>

  <ng-container class="summary">
    <div class="greeting">
      <div *ngIf="firstname">
        <h1>{{ greeting }}</h1>
      </div>
    </div>
  </ng-container>

  <div class="container">
    <div class="overview">
      <div class="first-row">
        <div class="box box-size-first-row">
          <div class="image-circle">
            <div>
              <img class="icon"src="assets/img/pencil-grey.svg" alt="">
            </div>
          </div>
          <div class="column">
            <div class="status">
              <span class="ammount">{{ toDoCount }}</span>
              <span>To-do</span>
            </div>
          </div>
        </div>
        <div class="box box-size-first-row">
          <div class="image-circle">
            <div>
              <img src="assets/img/check.png" alt="">
            </div>
          </div>
          <div class="column">
            <div class="status">
              <span class="ammount">{{ doneCount }}</span>
              <span>Done</span>
            </div>
          </div>
        </div>
      </div>

      <div class="second-row">
        <div class="box box-size-second-row urgent-box">
          <div class="urgent-section">
            <div class="image-circle urgent-circle">
              <img src="assets/img/Prio_alta.png" alt="Urgent">
            </div>
            <div class="status">
              <span class="ammount">{{ urgentCount }}</span>
              <span>Urgent</span>
            </div>
          </div>
          <div class="divider-line"></div> <!-- ✅ Neuer Trennstrich -->
          <div class="deadline">
            <span class="deadline-date">{{ upcomingDeadline | date: 'MMMM d, yyyy' }}</span>
            <span class="deadline-text">Upcoming Deadline</span>
          </div>
        </div>
      </div>

      <div class="third-row">
        <div class="box-container">
          <div class="column">
            <div class="status">
              <span class="ammount">{{ tasksCount }}</span>
              <span class="name">Tasks in Board</span>
            </div>
          </div>
        </div>
        <div class="box-container">
          <div class="column">
            <div class="status">
              <span class="ammount">{{ inProgressCount }}</span>
              <span class="name">Tasks in Progress</span>
            </div>
          </div>
        </div>
        <div class="box-container">
          <div class="column">
            <div class="status">
              <div class="ammount">{{ awaitFeedbackCount }}</div>
              <div class="name">Awaiting Feedback</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
