<div class="navigation-menu">
    <div class="logo-section">
        <img src="assets/img/logo-white.svg" alt="Logo" />
    </div>
  
    <div class="menu-btn" routerLink="/dashboard/summary">
      <div class="menu-icon-summary">
        <img src="assets/img/summary-white.svg" alt="Zusammenfassungs-Icon" />
      </div>
      <span>Summary</span>
    </div>

    <div class="menu-btn" routerLink="/dashboard/addtask">
      <div class="menu-icon-summary">
        <img src="assets/img/addTask-white.svg" alt="Aufgabe hinzufügen-Icon" />
      </div>
      <span>Add Task</span>
    </div>

    <div class="menu-btn" routerLink="/dashboard/board">
      <div class="menu-icon-summary">
        <img src="assets/img/board-white.svg" alt="Board-Icon" />
      </div>
      <span>Board</span>
    </div>

    <div class="menu-btn" routerLink="/dashboard/contacts">
      <div class="menu-icon-summary">
        <img src="assets/img/contacts-white.svg" alt="Kontakte-Icon" />
      </div>
      <span>Contacts</span>
    </div>
</div>
