.boardbody {
    font-family: "Inter";
    background-color: #f6f7f8;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    padding-bottom: 24px;
}

.head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 5px 10px; /* angepasst für kleinere Bildschirme */
}

.h1 {
    font-size: 24px; /* angepasst für kleinere Bildschirme */
    font-weight: 700;
    margin: 0;
}

.headleft, .searchbar {
    display: flex;
    align-items: center;
    width: 100%; /* vollständige Breite auf kleinen Bildschirmen */
    padding: 8px; /* angepasst für kleinere Bildschirme */
}

.searchbar input {
    border: none;
    width: 100%;
    outline: none;
    font-size: 16px; /* kleinere Schriftgröße für Mobilgeräte */
}

.taskcard {
    padding: 10px;
    width: 100%;
    background-color: white;
    border-radius: 10px; /* weniger abgerundet für kleinere Bildschirme */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.task-actions button {
    width: 24px;
    height: 24px;
    display:flex;
}

.taskcard-container {
    // max-height: 79vh;
    overflow-y: auto;
    width: 100%;
    padding: 0 8px;
}


@media (min-width: 768px) {
    .h1 {
        font-size: 61px; /* zurück zu ursprünglicher Größe */
    }

    .head {
        padding: 5px 40px; /* mehr Padding für größere Bildschirme */
    }

    .searchbar {
        width: 312px; /* festgelegte Breite für größere Bildschirme */
        padding: 8px 16px;
    }

    .searchbar input {
        font-size: 20px; /* größere Schriftgröße für Desktop */
    }

    .taskcard {
        border-radius: 24px; /* stärker abgerundet wie ursprünglich */
        box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.08);
    }

    .task-actions button {
        width: 32px;
        height: 32px;
    }

    .taskcard-container {
        max-height: 400px; /* höherer Container für mehr Inhalt */
        padding: 0 16px;
    }
}
