body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  
}

.main-container {
  padding: 20px;
  box-sizing: border-box;
  width: 100%;
  height: 90vh;
  // height: 100%;
}

h1 {
  font-size: 18px;
}

.board {
  display: block;
  
  @media screen and (min-width: 700px) {
    display: flex; 
    flex-direction: column; 
    width: 100%; 
    max-width: 237px; 
    padding: 40px;
  }

  .boardbody {
    font-family: "Inter";
    background-color: #f6f7f8;
    display: flex;
    flex-direction: column;
    width: 100%; /* Breite auf 100% setzen */

    @media screen and (min-width: 700px) {
      justify-content: space-between; /* Abstand zwischen den Elementen für größere Bildschirme */
    }
  }
}

.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 5px 10px; /* angepasst für kleinere Bildschirme */

  @media screen and (min-width: 768px) {
    padding: 5px 40px; /* mehr Padding für größere Bildschirme */
  }
}

.searchbar {
  cursor: pointer;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  width: 100%; /* Breite auf 100% setzen */
  max-width: 312px; /* Maximale Breite für die Suchleiste */
  height: 38px;
  border-radius: 10px;
  border: solid 1px #a8a8a8;
  background-color: white;
  padding: 8px 16px;
  margin-bottom: 10px; /* Abstand unterhalb der Suchleiste */

  @media screen and (min-width: 700px) {
    flex-direction: row; /* Ändert die Richtung in eine Reihe für größere Bildschirme */
    margin-bottom: 0; /* Kein Abstand unterhalb der Suchleiste */
  }
}

.searchbar input {
  border: none;
  outline: none;
  width: 100%;
  height: 100%;
  font-size: 16px;
  border-radius: 0; /* Entfernt die abgerundeten Ecken des inneren Suchfelds */

  @media screen and (min-width: 768px) {
    font-size: 20px; /* größere Schriftgröße für Desktop */
  }
}

.add-button {
  margin-top: 10px; /* Abstand oberhalb des Buttons */
  width: 100%; /* Breite auf 100% setzen */

  @media screen and (min-width: 700px) {
    display: flex; /* Flexbox verwenden */
    justify-content: flex-end; /* Am Ende der Flexbox ausrichten */
    margin-top: 0; /* Kein Abstand oberhalb des Buttons */
  }
}

.taskboard {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;

  @media screen and (min-width: 700px) {
    flex-direction: row; /* Ändert die Richtung in eine Reihe für größere Bildschirme */
  }
}

.column {
  width: 100%; /* Breite auf 100% für mobile Ansicht */
  
  @media screen and (min-width: 700px) {
    width: 275px; /* Feste Breite für größere Bildschirme */
  }
}

.taskcard {
  padding: 10px;
  width: 100%;
  background-color: white;
  border-radius: 10px; /* weniger abgerundet für kleinere Bildschirme */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  margin-bottom: 10px;

  @media screen and (min-width: 768px) {
    border-radius: 24px; /* stärker abgerundet wie ursprünglich */
    box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.08);
  }
}

.task-actions button {
  width: 24px;
  height: 24px;
  display: flex;

  @media screen and (min-width: 768px) {
    width: 32px;
    height: 32px;
  }
}

.taskcard-container {
  // max-height: 70vh; /* Feste Höhe, um Platz für Scrollen zu schaffen */
  overflow-y: auto; /* Ermöglicht vertikales Scrollen */
  width: 100%;
  padding: 0 8px;

  @media screen and (min-width: 768px) {
    padding: 0 16px;
  }
}
