body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.main-container {
  padding: 20px; /* Allgemeines Padding für die gesamte Seite */
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

.boardbody {
  font-family: "Inter";
  background-color: #f6f7f8;
  display: flex;
  align-content: center;
  flex-direction: column;
  width: -webkit-fill-available;
  max-width: 237px;
  padding: 40px;
}

.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 5px 10px; /* angepasst für kleinere Bildschirme */
}

.searchbutton {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 26px;
  width: 34px;
  border-radius: 50%;
}

.divider {
  background-color: #a8a8a8;
  height: 90%;
  width: 1px;
  margin-right: 16px;
}

.h1 {
  font-size: 24px; /* angepasst für kleinere Bildschirme */
  font-weight: 700;
  margin: 0;
}

.searchbar {
  cursor: pointer;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  width: 312px;
  height: 48px;
  border-radius: 10px;
  border: solid 1px #a8a8a8;
  background-color: white;
  padding: 8px 16px;
}

.searchbar input {
  border: none;
  outline: none;
  width: 100%;
  height: 100%;
  font-size: 16px;
  border-radius: 0; /* Entfernt die abgerundeten Ecken des inneren Suchfelds */
}

.taskboard {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.column {
  width: 100%;
  padding: 10px;
}

.categorie {
  display: flex;
  justify-content: space-between;
  align-items: center; /* Stellt sicher, dass die Items auf der gleichen Höhe sind */
  padding: 10px 0; /* Abstand oben und unten */
}

.panelheadbutton {
  cursor: pointer;
  padding: 3px;
  box-sizing: border-box;
  border-radius: 8px;
  background-color: #f6f7f8;
  border: solid 2.5px #2a3647;
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-position: center; /* Zentriert das Bild in der Mitte */
}

.taskcard {
  padding: 10px;
  width: 100%;
  background-color: white;
  border-radius: 10px; /* weniger abgerundet für kleinere Bildschirme */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  margin-bottom: 10px;
}

.task-actions button {
  width: 24px;
  height: 24px;
  display: flex;
}

.taskcard-container {
  max-height: 70vh; /* Feste Höhe, um Platz für Scrollen zu schaffen */
  overflow-y: auto; /* Ermöglicht vertikales Scrollen */
  width: 100%;
  padding: 0 8px;
}

@media (min-width: 768px) {
  .h1 {
    font-size: 61px; /* zurück zu ursprünglicher Größe */
  }

  .head {
    padding: 5px 40px; /* mehr Padding für größere Bildschirme */
  }

  .searchbar {
    width: 312px; /* festgelegte Breite für größere Bildschirme */
    padding: 8px 16px;
  }

  .searchbar input {
    font-size: 20px; /* größere Schriftgröße für Desktop */
  }

  .taskboard {
    flex-direction: row; /* Ändert die Richtung in eine Reihe für größere Bildschirme */
  }

  .column {
    width: 23%; /* Verkleinert die Breite der Spalten, um Platz für mehrere nebeneinander zu schaffen */
    margin-right: 10px; /* Fügt etwas Abstand zwischen den Spalten hinzu */
  }

  .taskcard {
    border-radius: 24px; /* stärker abgerundet wie ursprünglich */
    box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.08);
  }

  .task-actions button {
    width: 32px;
    height: 32px;
  }

  .taskcard-container {
    max-height: 70vh; /* Stellen Sie sicher, dass genügend Platz zum Scrollen vorhanden ist */
    padding: 0 16px;
  }
}
