.taskcard {
  height: clamp(200px, 100%, 300px);
  min-width: 252px;
  max-width: 252px !important;
  border-radius: 24px;
  margin: 8px 8px 8px 0px;
  padding: 16px;
  background-color: white;
  border: 1px solid #d1d1d1;
  border-radius: 24px;
  cursor: pointer;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2);
}

.category-badge {
  display: inline-block;
  margin-bottom: 8px; /* Abstand zur Überschrift */
  background-color: #6200ea;
  color: white;
  font-size: 14px;
  font-weight: bold;
  padding: 6px 12px;
  border-radius: 20px;
  align-self: flex-start;
}


  .menu-button {
    position: absolute;
    top: 12px;
    right: 12px;
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
  }

  .titleTasksCard {
    font-weight: bold;
    margin-top: 16px;
  }

  .description {
    font-size: 14px;
    color: #6b6b6b;
    margin-bottom: 10px;
  }

  .priority {
    font-size: 12px;
    font-weight: bold;
    padding: 4px 8px;
    border-radius: 10px;
    background-color: #f5f5f5;
    display: inline-block;
  }

  .subtask-container {
    display: flex;
    align-items: center;
    font-size: 12px;
    color: #555;
    margin-top: 8px;
  }

  .line-subtask {
    width: 100px;
    height: 4px;
    background-color: #e0e0e0;
    border-radius: 10px;
    position: relative;
  }

  .progress-line {
    height: 100%;
    background: #008080;
    border-radius: 10px;
  }

  .users {
    display: flex;
    margin-top: 10px;
  }

  .user-border {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    font-size: 12px;
    font-weight: bold;
    color: white;
    background: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: -5px;
    border: 2px solid white;
  }

  .row {
    margin-top: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .subtasksProgressbarContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 16px;
}
