<div class="taskcard" (click)="!showOverlay && openOverlay($event)">
  <!-- Kategorie-Badge -->
  <div class="row">
    <div>
      <span
        class="category-badge"
        *ngIf="task.category.name"
        [ngClass]="getCategoryClass()"
        [ngStyle]="{ 'background-color': task.category.color || '#6200ea' }"
      >
        {{ task.category.name || "No Category" }}
      </span>
    </div>

    <div>
      <img src="assets/img/check.svg" />
    </div>
  </div>

  <!-- Titel der Task -->
  <div class="titleTasksCard">{{ task.title || "No Title" }}</div>

  <!-- Beschreibung -->
  <p class="description">{{ task.description || "No Description" }}</p>

  <!-- Subtasks-Fortschritt -->
  <div class="subtasksProgressbarContainer">
    <div class="progress-bar">
      <div
        class="progress-fill"
        [ngStyle]="{ width: getSubtaskCompletionPercentage() + '%' }"
      ></div>
    </div>
    <span class="subtask-count">{{ getSubtaskCompletion() }} Subtasks</span>
  </div>

  <!-- Benutzer -->
  <div class="row">
    <div class="users">
      <div
        *ngFor="let user of assignedUsers"
        class="user-border"
        [ngStyle]="{ 'background-color': user.color || '#CCCCCC' }"
      >
        {{ getInitials(user.first_name || "", user.last_name || "") }}
      </div>
    </div>

    <!-- Task-Status Icons -->
    <div class="task-status">
      <img
        *ngIf="task.priority === 'Low'"
        src="assets/img/Prio_baja.png"
        alt="Low Priority"
      />
      <img
        *ngIf="task.priority === 'Medium'"
        src="assets/img/Prio_media.png"
        alt="Medium Priority"
      />
      <img
        *ngIf="task.priority === 'Urgent'"
        src="assets/img/Prio_alta.png"
        alt="Urgent Priority"
      />
    </div>
  </div>
</div>

<app-edit-task-overlay
  *ngIf="showOverlay"
  [task]="task"
  (close)="closeOverlay()"
></app-edit-task-overlay>

