<div class="taskcard" (click)="openOverlay($event)">
  <ng-container *ngIf="!showOverlay; else editMode">
    <h3>{{ task.title }}</h3>
    <p class="description">{{ task.description }}</p>
    <div class="task-details">
      <div>
        <span>Status:</span>
        <span>{{ task.status }}</span>
      </div>
      <div>
        <span>Priorität:</span>
        <span>{{ task.priority }}</span>
      </div>
      <div>
        <span>Erstellt von:</span>
        <div class="user-border" [ngStyle]="{'background-color': task.created_by.color}">
          {{ getInitials(task.created_by.first_name, task.created_by.last_name) }}
        </div>
      </div>
      <div>
        <span>Zugewiesen an:</span>
        <div class="users">
          <div *ngFor="let user of assignedUsers" class="user-border" [ngStyle]="{'background-color': user.color || '#FFFFFF'}">
            {{ getInitials(user.first_name, user.last_name) }}
          </div>
        </div>
      </div>
    </div>
  </ng-container>
  
  <ng-template #editMode>
    <app-edit-contacts-dialog [task]="task" (close)="handleClose()" (deleted)="handleDelete()"></app-edit-contacts-dialog>
  </ng-template>
</div>
