.taskcard {
    width: 255px;
    min-height: 200px;
    padding: 15px;
    margin-bottom: 10px;
    background-color: white;
    border-radius: 24px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    cursor: move;
    transition: transform 0.1s ease, box-shadow 0.1s ease;
    box-sizing: border-box;
    transition: opacity 0.3s ease;
    position: relative;
  }
  
  .input-title {
    width: 100%;
    border-radius: 10px;
    border: solid 1px #d1d1d1;
    height: 48px;
    box-sizing: border-box;
    padding: 12px 21px;
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .input-description {
    margin-top: 10px;
  }
  
  h3 {
    font-weight: 700;
    font-size: 16px;
    color: #2a3647;
  }
  
  .description {
    font-size: 14px;
    color: #a8a8a8;
    margin-top: 8px;
  }
  
  .card.loading {
    opacity: 0.2;
    pointer-events: none;
  }
  
  .category {
    width: max-content;
    font-size: 16px;
    padding: 4px 16px;
    border-radius: 10px;
    color: white;
    margin-bottom: 28px;
  }
  
  .title {
    font-weight: 700;
    margin-bottom: 8px;
  }
  
  .description {
    display: -webkit-box;
    width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    height: 38px;
    line-height: 19px;
    color: #a8a8a8;
    margin-bottom: 24px;
  }
  
  .line-subtask {
    width: 128px;
    height: 8px;
    border-radius: 4px;
    background-color: #f4f4f4;
    margin-right: 8px;
  }
  
  .progress-line {
    height: 8px;
    border-radius: 4px;
    background-color: #4589ff;
  }
  
  .subtask-container {
    display: flex;
    align-items: center;
    font-size: 12px;
    margin-bottom: 28px;
  }
  
  .footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .footer img {
    padding-right: 15px;
  }
  
  .users {
    display: flex;
  }
  
  .user-border {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    border: 3px solid #29abe2;
    outline: 2px solid white;
    outline-offset: -1px;
    background-color: white;
    border-radius: 50%;
    font-size: 12px;
    margin-right: -7px;
    font-weight: bold;
    color: #2a3647;
    text-align: center;
  }
  
  .task-actions {
    position: absolute;
    top: 10px;
    right: 10px;
  }
