html, body {
  height: 100%;
  margin: 0;
}

.content {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0 auto;
  max-width: 100%;

  @media screen and (min-width: 1921px) {
    max-width: 1920px;
  }
}

.main {
  flex: 1;
  overflow-y: auto; // falls der Inhalt größer ist als der sichtbare Bereich
  display: flex; // Fügen Sie dies hinzu, um die sidenav und den Inhalt nebeneinander anzuordnen
}

app-header, app-navigation {
  flex-shrink: 0;
}

.sidenav {
  display: none; // Standardmäßig ausgeblendet
}

@media screen and (min-width: 700px) {
  .sidenav {
    display: block; // Bei einer Bildschirmbreite von 700px und darüber einblenden
    width: 250px; // Breite der sidenav
    flex-shrink: 0;
  }


  .navbar {
    display: none; // Bei einer Bildschirmbreite von 700px und darüber ausblenden
  }
}
