<div class="sidemenu">
    <div class="logo-section">
      <img src="assets/img/logo-white.svg" alt="">
    </div>
    <div class="menu">
      <nav>
        <a routerLink="summary" routerLinkActive="active">
            <img src="assets/img/summary-white.svg" alt="Zusammenfassungs-Icon">
          <span>Summary</span>
        </a>
        <a routerLink="addtask" routerLinkActive="active">
            <img src="assets/img/addTask-white.svg" alt="Aufgabe hinzufügen-Icon">
          <span>Add Task</span>
        </a>
        <a routerLink="board" routerLinkActive="active">
            <img src="assets/img/board-white.svg" alt="Board-Icon">
          <span>Board</span>
        </a>
        <a routerLink="contacts" routerLinkActive="active">
          <img src="assets/img/contacts-white.svg" alt=""> 
          <span>Contacts</span>
        </a>
      </nav>
    </div>
    <div class="info">
      <a routerLink="privacy_policy" routerLinkActive="active">Privacy Policy</a>
      <a routerLink="legal_notice" routerLinkActive="active">Legal notice</a>
    </div>
  </div>