<div class="add-task-section">
  <div class="taskHeader">
    <h2>Aufgabe hinzufügen</h2>
  </div>
  <form [formGroup]="taskForm" (ngSubmit)="addTask()">
    <div class="task-container">
      <div class="left">
        <div class="form-row">
          <label class="title" for="title">Titel:</label>
          <input type="text" formControlName="title" required class="title-input" placeholder="Titel eingeben">
        </div>
        <div class="form-row">
          <label for="description">Beschreibung:</label>
          <textarea formControlName="description" required class="description-input" placeholder="Beschreibung eingeben"></textarea>
        </div>
        <div class="form-row">
          <label for="status">Status:</label>
          <select formControlName="status" required class="status-select">
            <option value="TO_DO">Zu erledigen</option>
            <option value="AWAIT_FEEDBACK">Auf Rückmeldung warten</option>
            <option value="IN_PROGRESS">In Bearbeitung</option>
            <option value="DONE">Erledigt</option>
          </select>
        </div>
        <div class="form-row">
          <label for="category">Kategorie:</label>
          <select formControlName="category" required class="category-select">
            <option *ngFor="let category of categories" [value]="category">{{ category }}</option>
          </select>
          <input type="text" [(ngModel)]="newCategory" [ngModelOptions]="{standalone: true}" placeholder="Neue Kategorie eingeben">
          <button type="button" (click)="addCategory()">Kategorie hinzufügen</button>
        </div>
        <div class="form-row">
          <label for="dueDate">Zieldatum:</label>
          <input type="date" formControlName="dueDate" required class="due-date-input">
        </div>
        <div class="form-row">
          <label for="subtask">Unteraufgaben:</label>
          <input type="text" [(ngModel)]="newSubtask" [ngModelOptions]="{standalone: true}" (keyup.enter)="addSubtask()" placeholder="Unteraufgabe eingeben">
          <button type="button" (click)="addSubtask()">Hinzufügen</button>
          <ul>
            <li *ngFor="let subtask of subtasks; let i = index">
              {{ subtask }}
              <button type="button" (click)="removeSubtask(i)">Entfernen</button>
            </li>
          </ul>
        </div>
      </div>
      <div class="divider"></div>
      <div class="right">
        <div class="form-row">
          <label for="">Zugewiesen an:</label>
          <div class="assigned-btn" (click)="toggleDropdown()">
            <span>Kontakte auswählen</span>
          </div>
          <div *ngIf="dropdownOpen" class="dropdown-content">
            <div *ngFor="let user of contacts$ | async" class="user-item">
              <label>
                <input type="checkbox" (change)="onCheckboxChange($event, user)">
                <span class="initials" [ngStyle]="{'background-color': user.color || '#FFFFFF'}">{{ getInitials(user.first_name, user.last_name) }}</span>
                <span class="user-name">{{ user.first_name }} {{ user.last_name }}</span>
              </label>
            </div>
          </div>
        </div>
        <span>Priorität:</span>
        <div class="task-prio-container">
          <app-button 
            [classes]="['task-prio', activePriority === 'Low' ? 'active low' : 'Low']" 
            caption="Low" 
            priority="Low" 
            (clicked)="setPriority('Low')"
            imgPath="assets/img/Prio_baja.png">
          </app-button>
          <app-button 
            [classes]="['task-prio', activePriority === 'Medium' ? 'active medium' : 'Medium']" 
            caption="Medium" 
            priority="Medium" 
            (clicked)="setPriority('Medium')"
            imgPath="assets/img/Prio_media.png">
          </app-button>
          <app-button 
            [classes]="['task-prio', activePriority === 'Urgent' ? 'active urgent' : 'Urgent']" 
            caption="Urgent" 
            priority="Urgent" 
            (clicked)="setPriority('Urgent')"
            imgPath="assets/img/Prio_alta.png">
          </app-button>
        </div>
        <div class="modal-footer">
          <div class="add-btn">
            <app-button [type]="'submit'" [classes]="['add-task']" [caption]="'add Task'" imgPath="assets/img/check.png"></app-button>
          </div>
        </div>
      </div>
    </div>
  </form>
  <div class="task-created" *ngIf="taskCreated" @slideInOut>
    Aufgabe wurde erfolgreich erstellt!
  </div>
</div>
