body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.add-task-section {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-y: auto; 
  min-height: 100vh;
  background-color: #F6F7F8;
}

@media screen and (min-width: 1200px) {
  .add-task-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: #F6F7F8;
    padding: 100px;
    height: auto;
  }

  .task-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 4%;
  }

  .left, .right {
    width: 48%;
    display: flex;
    flex-direction: column;
  }


  .divider {
    height: 424px;
    background-color: #d1d1d1;
    width: 1px;
  }
}

@media screen and (max-width: 1199px) {
  .task-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .left, .right {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .divider {
    display: none;
  }

  .task-prio-container {
    align-items: center;
    gap: 10px;
  }

  .status-select, .user-select {
    width: 100%;
  }

  .assigned-btn {
    width: 100%;
  }
}

.first-row {
  display: flex;
  justify-content: space-between;
}

.taskHeader {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.taskHeader h2 {
  font-size: 48px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 20px;
  @media screen and (min-width: 1200px) {
    font-size: 61px;
    font-weight: 700;
    margin-top: 0;
  }
}

.form-row {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
}

input, select, textarea {
  padding: 12px;
  border-radius: 10px;
  border: solid 1px #d1d1d1;
  box-sizing: border-box;
  width:100%;
}

input:focus, select:focus, textarea:focus {
  outline: none;
  border-color: #4a90e2;
}

textarea {
  resize: none;
}

.title-input {
  height: 48px;
  padding: 12px 21px;
  font-size: 20px;
  @media screen and (min-width: 1200px) {
    width: 400px;
  }
}

.description-input {
  font-size: 20px;
  min-height: 100px;
  max-height: 120px;
  padding: 18px 16px;
  @media screen and (min-width: 1200px) {
    width: 400px;
  }
}

.category-dropdown {
  position: relative;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  background-color: white;
}

.selected-category {
  display: flex;
  align-items: center;
}

.category-list {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  max-height: 200px;
  overflow-y: auto;
  z-index: 10;
}

.category-item {
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
}

.category-item:hover {
  background-color: #f5f5f5;
}

.category-color {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 10px;
}


// .due-date-input{
  
// }

.status-select, .user-select {
  cursor: pointer;
  min-height: 25.5px;
  background-color: white;
  padding: 12px 16px;
  border-radius: 10px;
  border: solid 1px #d1d1d1;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.status-select:focus, .user-select:focus {
  outline: none;
  border-color: #4a90e2;
}

.task-prio-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  gap: 10px;
  @media screen and (min-width: 1200px) {
    flex-direction: row;
    align-items: flex-start;
    gap: 50px;
  }
}

.btn {
  display: inline-block;
  padding: 8px 16px;
  background-color: blue;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.btn:hover {
  background-color: #003f7f;
}

.add-btn {
  margin-bottom: 20px;
}

.dropdown {
  position: relative;
  margin-bottom: 20px;
}

.assigned-btn {
  padding: 12px 16px;
  background-color: white;
  border: solid 1px #d1d1d1;
  border-radius: 10px;
  cursor: pointer;
  box-sizing: border-box;
}

.dropdown-content {
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: calc(100% - 16px);
  padding: 8px 16px 8px 4px;
}

.dropdown-content label {
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: calc(100% - 16px);
  padding: 8px 16px 8px 4px;
  margin-bottom: 8px;
}

.dropdown-content label:last-child {
  margin-bottom: 0;
}

.initials {
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #007bff;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  font-size: 14px;
  font-weight: bold;
}

input:focus, select:focus, textarea:focus, .dropdown-content button:focus {
  border-color: #4a90e2;
  outline: none;
}

label {
  flex-wrap: nowrap;
  position: relative;
  width: 100%;
  height: 56px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
  font-size: 19px;
  margin-bottom: .2em;
  font-weight: 700;
}

.user-name {
  display: flex;
}


.h2 {
  font-size: 48px;
  font-weight: bold;
}


.initials {
  display: inline-block;
  width: 32px;
  height: 32px;
  line-height: 32px;
  border-radius: 50%;
  text-align: center;
  color: white; /* Farbe der Initialen */
  font-weight: bold;
  margin-right: 8px;
}

.subtask-input-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  width: 90%;
}

.subtask-input-wrapper input {
  flex: 1;
  padding-right: 40px;
}

.add-subtask-button {
  position: absolute;
  right: 10px; /* Adjust as needed */
  top: 50%;
  transform: translateY(-50%);
  border: none;
  background: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
}

.add-subtask-button img {
  width: 24px; 
  height: 24px;
}

