.overview {
  height: 100vh; /* Höhe auf 100% der Ansichtshöhe setzen */
  display: flex;
  flex-direction: row;
}

/* Grundlayout */
.content {
  display: flex;
  flex-direction: row;
  height: 100vh; /* Höhe auf 100% der Ansichtshöhe setzen */
}

.sidebar {
  display: none; /* Standardmäßig ausblenden */
  @media (min-width: 900px) {
    display: block; /* Ab 900px anzeigen */
    width: 250px;
    height: 100vh;
  }
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.header {
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 1000;
  @media (max-width: 699px) {
    width: 100%;
    height: 10vh;
  }
}

.main-content {
  flex: 1;
  overflow-y: auto;
  @media (min-width: 899px) {
    height: calc(100vh - 0vh); /* Hier sicherstellen, dass die Höhe korrekt berechnet wird */
    width: calc(100vw - 250px); /* Breite anpassen */
  }
}

.navbar {
  display: block;
  height: 10vh; 
  position: fixed; 
  bottom: 0;
  width: 100%;
  @media (min-width: 899px) {
    display: none;
  }
}

@media (max-width: 699px) {
  .content {
    flex-direction: column;
  }

  .header {
    width: 100%;
    height: 10vh;
  }

  .main-content {
    flex: 1;
    height: calc(100vh - 20vh); 
  }

  .navbar {
    display: block;
    height: 10vh; 
    position: fixed; 
    bottom: 0;
    width: 100%;
  }
}
